#btnBonton1{
    -fx-background-color: #f7f447;
}

#btnBonton2 {
    -fx-background-color: #f7f447;
}

#fondo1 {
    -fx-background-color: #9d9d9d;
}
#fondo2 {
    -fx-background-color: #9d9d9d;
}
#fondo {
    -fx-background-color: #f5f1f1;
}